{% extends "base.html" %}
{% block body %}
<br>
<br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyEMwqlvA4kD4vxQGpo4ODFNzkAkTpaV6QPGT_zCUSPChBN12k" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Python Full Stack</h5>
      <p class="card-text">A full stack developer is an engineer who can handle all the work of databases, servers, systems engineering, and clients.</p>
      <form class="" action="/" method="post">
        <button type="submit" name="action" class="btn btn-primary btn-lg" value="search" >submit</button>
        </form>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyEMwqlvA4kD4vxQGpo4ODFNzkAkTpaV6QPGT_zCUSPChBN12k" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Data science</h5>
      <p class="card-text">Data science is a multidisciplinary blend of data inference, algorithmm development, and technology in order to solve analytically complex problems.</p>
        <button type="button" class="btn btn-primary btn-lg" name="action">submit</button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyEMwqlvA4kD4vxQGpo4ODFNzkAkTpaV6QPGT_zCUSPChBN12k" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Block chain</h5>
      <p class="card-text">Blockchain can be defined as a chain of the block that contains information. ... The blockchain is used for the secure transfer of items like money, property, contracts, etc.</p>
      <button type="button" class="btn btn-primary btn-lg" name="action">submit</button>
    </div>
  </div>
</div>
<br>
<br>
{% if action  == 'search' %}
  <div class="card border-default mb-10" style="max-width: 50rem;">
    <div class="card-header bg-transparent border-default">Python full Stack</div>
        <div class="card-body text-default">
            <h5 class="card-title">Skills</h5>
      <div class="checkbox">
        {% for item in todos %}
          <label><input type="checkbox" value="{{ item[0] }}">{{item[0]}}</label>
      {% endfor %}
      </div>
    </div>
    <div class="card-footer bg-transparent border-default">Footer</div>
  </div>
{% endif %}
<h2>{{ action }}</h2>
{% endblock %}
