{% extends "base.html" %}
{% block body %}
<link href="/maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="container">
    <div class="section first">
        <div class="cont_title">
            <!--<div class="letter-container">
        <p class="lettering">Alaska, USA</p>
      </div>-->
            <h1>kenai<br>fjords</h1>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg
">CLICK HERE</a>
        </div>
        <div class="cont_desc">
            <p>Rappel into a crevasse, kayak through icebergs, and watch a glacier recede.</p>
        </div>
    </div>
    <div class="section">
        <div class="cont_title">
            <h1>Hawai'i<br>Volcanoes</h1>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg
">CLICK HERE</a>
        </div>
        <div class="cont_desc">
            <p>Rappel into a crevasse, kayak through icebergs, and watch a glacier recede.</p>
        </div>
    </div>
    <div class="section">
        <div class="cont_title">
            <h1>Carlsbad<br>Caverns</h1>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg
">CLICK HERE</a>
        </div>
        <div class="cont_desc">
            <p>Rappel into a crevasse, kayak through icebergs, and watch a glacier recede.</p>
        </div>
    </div>
    <div class="section">
        <div class="cont_title">
            <h1>Bryce<br>Canyon</h1>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg
">CLICK HERE</a>
        </div>
        <div class="cont_desc">
            <p>Rappel into a crevasse, kayak through icebergs, and watch a glacier recede.</p>
        </div>
    </div>
    <div class="section">
        <div class="cont_title">
            <h1>Dry<br>Tortugas</h1>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg
">CLICK HERE</a>
        </div>
        <div class="cont_desc">
            <p>Rappel into a crevasse, kayak through icebergs, and watch a glacier recede.</p>
        </div>
    </div>
</section>
{% endblock %}